:root {
  --bg-color-hero: #586ec1;
  --bg-color-card1: #00626a;
  --bg-color-card2: #83c5be;
  --bg-color-card3: #edf6f9;
  --bg-color-card4: #ffddd2;
  --bg-color-card5: #e7ac97;
  --needs-section-bg-color: #f6f6f6;
  --needs-box-bg-color: #fbfbfb;
}

#challenge p {
  width: 86%;
}

.process-cards img {
  border-radius: 16px;
}
