/* 


COLOURS
 #323A30
 #FBFBFB
-------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#quick-tasty h1 {
  margin-top: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-cards {
  display: flex;
  gap: 16px;
  align-items: stretch;
  height: 649px;
}

.gap-36 {
  gap: 36px;
}

.gap-32 {
  gap: 36px;
}

.gap-20 {
  gap: 20px;
}

.center-text {
  text-align: center;
}

.responsive-section {
  padding: 44px 64px;
}

.final-screens-section {
  padding: 64px;
  background-color: #fbfbfb;
}

#quick-tasty strong {
  font-weight: 500;
}

/* HERO SECTION */
.hero-section {
  background-color: #323b52;
}

/* PROCESS SECTION */

.process-section {
  padding: 64px;
}

.process-section .process-cards .label :not(strong) {
  font-weight: 400;
}

#card1 .label {
  background-color: #0d3b66;
  color: #fff;
}

#card1 .step-title {
  color: #fff;
}

#card2 .label {
  background-color: #faf0ca;
}

#card3 .label {
  background-color: #f4d35e;
}

#card4 .label {
  background-color: #ffb270;
}

#card5 .label {
  background-color: #c95050;
  color: #fff;
}

#card5 .step-title {
  color: #fff;
}

.process-card {
  box-shadow: 0px 3px 3px #0000000d;
  border: 1px solid #dedede;
  border-radius: 16px;
  background: transparent linear-gradient(135deg, #f3f3f61a 0%, #e6e6ee1a 100%)
    0% 0% no-repeat padding-box;
  min-width: 55px;
}

.process-card {
  width: 684px;
  min-height: 480px;
  background: transparent linear-gradient(135deg, #f3f3f61a 0%, #e6e6ee1a 100%)
    0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #0000000d;
  border: 1px solid #dedede;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s;
  color: #414057;
}

.process-card.closed {
  width: 55px;
}

.process-card.closed .process-content {
  /* opacity: 0;
  visibility: hidden; */
  display: none;
}

.step {
  display: flex;
  gap: 32px;
}

.process-number {
  font-family: Work Sans, sans-serif;
  font-weight: 600;
  font-size: 56px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.label {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 606px; */
  width: 55px;
}

.content-step {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.content-title {
  font-size: 20px;
  font-weight: 500;
}

.step-title {
  margin-top: 220px;
  width: 450px;
  text-align: left;
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #414057;
}

.process-content {
  padding: 28px;
}

.process-content img {
  display: block;
}

.grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.grid-card2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  height: 100%;
}

.card2-text {
  margin-top: auto;
  margin-bottom: auto;
  transform: translateY(0, -50%);
}

.card2-image {
  display: flex;
  align-items: stretch;
}

.image2 {
  object-fit: cover;
}

.pain-points-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 36px;
}

.pain-points-grid > div p:first-child {
  padding: 0;
}

#card4 p {
  padding: 0;
}

/* NEEDS SECTION */

.needs-section {
  background-color: #f6f6f6;
  padding: 64px;
}

.grid-needs {
  display: grid;
  grid-template-columns: 1fr 2.4fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  gap: 32px;
}

.need-box {
  background-color: #fbfbfb;
  box-shadow: 0px 3px 12px #0000000d;
  border-radius: 16px;
  width: 100%;
  padding: 20px 28px;
  letter-spacing: 0.15px;
  color: #323a30;
  font-weight: 400;
}

.need-box blockquote {
  font-style: italic;
  letter-spacing: 0.15px;
  color: #323a30;
  font-weight: normal;
}

/* Responsive area */

/* medium screens */
@media only screen and (max-width: 1023px) {
  .process-section.h1024 {
    height: unset;
  }

  .process-card {
    min-height: unset;
    width: unset;
    max-height: 800px;
    /* height: 600px; */
  }

  .flex-cards {
    flex-direction: column;
    height: unset;
  }

  .flex {
    flex-direction: column;
  }

  .label {
    flex-direction: row;
    padding: 0 16px;
    gap: 16px;
    height: 55px;
    width: unset;
  }

  .process-card.closed {
    max-height: 55px;
    width: unset;
  }

  .rotate-90 {
    transform: unset;
  }

  .step-title {
    margin-top: unset;
    line-height: 1.1;
  }

  .grid-needs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .needs-section .needs-description {
    margin-top: 60px;
  }
}

/* small screens */
@media only screen and (max-width: 600px) {
  .grid-2col {
    grid-template-columns: 1fr;
  }

  .process-card {
    max-height: 1000px;
  }

  .process-card.closed {
    max-height: 72px;
  }

  .label {
    height: 72px;
  }

  .grid-card2 {
    display: flex;
    flex-direction: column;
  }

  .card2-image {
    order: -1;
    max-height: 120px;
  }

  .pain-points-grid {
    display: flex;
    flex-direction: column;
  }
}

/* large screens */
@media only screen and (min-width: 1024px) {
  .hero-section {
    background-color: unset;
  }
}
