/*
Colors used:
Primary Color 1 (Green): #8ebc8d;
Primary Color 2 (lighter green): #e8eee2;
Layout colour - almost black: 323A30;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;   /* Sets the line-height to 1.25 * the font-size = 20px */
  color: #323A30;
}

.body2{
  font-size: 14px;
  font-weight: 400;
}

/* Layout styling */

header {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  padding: 10px 0;
  border-bottom: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 5px 9px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 5px 9px 0px rgba(50, 50, 50, 0.1);
}

main {
  padding-top: 120px;
}

.container {
  padding: 0 24px;
}

p {
  padding: 12px 0 0 0;
  margin: 0;
}


footer {
  text-align: center;
  background-color: #E8EEE2;
  padding: 32px 0 12px 0;
}

footer p {
  margin: 0;
  padding: 24px 0;
}




/* Links */

a {
  font-weight: 400;
  color: #000000;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  font-weight: 400;
  color: #979797;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #8EBC8D;
}

/* Navigation bar Links */

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}


nav > ul > li > a {
  font-weight: 300;
  padding: 0 15px;
}

nav > ul > li > a:hover {
  font-weight: 300;
}

nav > ul > li > a:focus {
  font-weight: 300;
}

nav > ul > li > a:active {
  font-weight: 300;
}

/* Headlines */

h1, h2, h3, h4 {
  line-height: 1.25;
  margin: 0;
}

h1 {
  line-height: 1.25;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 3em;
  font-weight: 200;
  margin: 40px 0 20px 0;
}

h2 {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 2em;
  font-weight: 400;
  padding: 20px 0 16px 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  padding: 12px 0;
}
h4 {
  font-size: 1.25em;
  font-weight: 500;
  padding: 8px 0;
}

.overline {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  color: #888888;
  opacity: 40%;
}

.caption{
  font-size: 0.75em;
}

/*  intro.hmtl  */

.intro-desc {
  font-weight: 400;
  color: #000000;
}

.row {
  margin: 0px 0; /* 25px top and bottom, 0 left and right */
}

.section {
  margin: 24px 0 20px 0;
}

#hero{
  padding: 0px 0;
}

#hero h1 {
  text-align: center;
  padding: 20px 0 60px 0;
}


#work button {
  margin-bottom: 48px;
}

#work img {
  border-radius: 16px;
  margin: 16px 0 4px 0;
}

#work {
  padding-bottom: 8px;
}

.skills {
  font-style: italic;
  color: #898D89;
}

/*   Project  */


.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}


/*  About page  */

#about-pic {
  text-align: center;
  padding: 48px 0 12px 0;
}

.profile {
  width: 168px;
}

#skills-tools {
  margin-bottom: 48px;
}

/*  Quick & Tasty page  */

#quick-tasty .container {
  padding-left: 24px;
  padding-right: 24px;
}


.white-box {
  background-color: #FFFFFF;
  padding: 16px 12px;
  margin-bottom: 24px;
}

.gray-box {
  background-color: #808388;
  padding: 16px 12px;
  margin-bottom: 24px;
}

.l-gray-box {
  background-color: #D4D5D6;
  padding: 16px 12px;
  margin-bottom: 24px;
}


#quick-tasty h1 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.color-light {
  color: #E2E2E2;
}

#quick-tasty h2 {
  padding-top: 0px;
  padding-bottom: 4px;
}

/*
#quick-tasty p {
  padding-top: 0px;
}
*/
#quick-tasty img {
  padding: 32px 0 52px 0;
}

.space-vertical {
  padding-top: 24px;
  padding-bottom: 36px;
}

.space-top {
  padding-top: 24px;
}


.space-bottom {
  padding-bottom: 20px;
}

#styleguide img {
  padding: 4px 0 0 0;
}

#userflow img{
  padding: 0;
}


.brown-big {
  padding-top: 20px;
  color: #DEAA7D;
  font-size: 56px;
  font-weight: 400;
}


/* Images */

img {
  width: 100%;
}

picture .logo {
  padding: 12px 0;
  max-width: 150px;
}


.yellow {
  background-color: #FCFBF5;
}

.beige {
  background-color: #EBE5DC;
}

/* Buttons */

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #8EBC8D;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 500;
  padding: 12px 28px;
  margin: 40px 0 48px 0;
  border-radius: 16px;
  transition: 0.2s opacity;
}

.button:hover {
  color: #ffffff;
  font-weight: 500;
  background-color: #B3D6B2;
  text-decoration: none;
}

.button:active{
  background-color: #69A468;
}

.button.contact {
  background-color: transparent;
  color: #8EBC8D;
  border: 3px solid #8EBC8D;
  margin-bottom: 28px;
}



.button.contact:hover {
  color: #B3D6B2;
  border: 3px solid #B3D6B2;
}

.button.contact:active {
  background-color: #FFFFFF;
  color: #69A468;
  border: 3px solid #69A468;
}
