/*
Colors used:
Primary Color 1 (Green): #8ebc8d;
Primary Color 2 (lighter green): #e8eee2;
Layout colour - almost black: 323A30;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;   /* Sets the line-height to 1.25 * the font-size = 20px */
  color: #323A30;
}

.body2{
  font-size: 0.875em;
  font-weight: 400;
}

/* Layout styling */

header {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  padding: 10px 0;
  border-bottom: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 5px 9px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 5px 9px 0px rgba(50, 50, 50, 0.1);
  z-index: +1;
}

main {
  padding-top: 120px;
}

.container {
  padding: 0 24px;
}

p {
  padding: 12px 0 0 0;
  margin: 0;
}


footer {
  text-align: center;
  background-color: #E8EEE2;
  padding: 32px 0 12px 0;
}

footer p {
  margin: 0;
  padding: 24px 0;
}




/* Links */

a {
  font-weight: 400;
  color: #000000;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  font-weight: 400;
  color: #979797;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #8EBC8D;
}

/* Navigation bar Links */

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}


nav > ul > li > a {
  font-weight: 300;
  padding: 0 15px;
}

nav > ul > li > a:hover {
  font-weight: 300;
}

nav > ul > li > a:focus {
  font-weight: 300;
}

nav > ul > li > a:active {
  font-weight: 300;
}

/* Headlines */

h1, h2, h3, h4 {
  line-height: 1.25;
  margin: 0;
}

h1 {
  line-height: 1.25;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 3em;
  font-weight: 200;
  margin: 40px 0 20px 0;
}

h2 {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 2em;
  font-weight: 400;
  padding: 20px 0 16px 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  padding: 12px 0;
}

h4 {
  font-size: 1.25em;
  font-weight: 500;
  padding: 8px 0;
}

.overline {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  color: #888888;
  opacity: 40%;
}

.caption{
  font-size: 0.75em;
}


/*  intro.html  */

.intro-desc {
  font-weight: 400;
  color: #000000;
}

.row {
  margin: 0px 0 48px 0; /* 25px top and bottom, 0 left and right */
}

.section {
  margin: 24px 0 20px 0;
}


#hero{
  padding: 0px 0;
}

#hero h1 {
  text-align: center;
  padding: 20px 0 60px 0;
}


#work .button {
  margin-bottom: 0;
}

#work img {
  border-radius: 16px;
  margin: 16px 0 4px 0;
}

#work {
  padding-bottom: 8px;
}

.skills {
  font-style: italic;
  color: #898D89;
}

/*   Project  */


.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.middle {
  padding: unset;
  display: inline-block;
  vertical-align: middle;
}

.col-8 {
  width: 66.66%;
  float: left;
}

.col-4 {
  width: 33.33%;
  float: left;
}

.space-left {
  padding-left: 36px;
}

/*  About page  */

#about .row {
  margin-bottom: unset;
}

#about-pic {
  text-align: center;
  padding: 48px 0 12px 0;
}

.profile {
  width: 168px;
}

#skills-tools {
  margin-bottom: 48px;
}

/*  Quick & Tasty page  */

.caption-pp {   /* caption Pain points */
  position: relative;
  margin-top: 64%;
  z-index: 0;
  }


#quick-tasty .container {
  padding-left: 24px;
  padding-right: 24px;
}


.white-box {
  background-color: #FFFFFF;
  padding: 16px 12px;
  margin-bottom: 24px;
}

.gray-box {
  background-color: #808388;
  padding: 16px 12px;
  margin-bottom: 24px;
}

.l-gray-box {
  background-color: #D4D5D6;
  padding: 16px 12px;
  margin-bottom: 24px;
}


#quick-tasty h1 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.color-light {
  color: #E2E2E2;
}

#quick-tasty h2 {
  padding-top: 0px;
  padding-bottom: 4px;
}


#quick-tasty img {
  padding: 32px 0 52px 0;
}

.space-vertical {
  padding-top: 24px;
  padding-bottom: 36px;
}

.space-top16 {
  padding-top: 16px;
}

.space-top {
  padding-top: 24px;
}

.space-bottom {
  padding-bottom: 20px;
}

.space-bottom-x3 {
  padding-bottom: 60px;
}

#styleguide img {
  padding: 4px 0 0 0;
}


#styleguide {
  background-color: #E9D9D9;
}

#userflow img{
  padding: 0;
}


.brown-big {
  color: #DEAA7D;
  font-size: 56px;
  font-weight: 400;
  position: absolute;

}

#quick-tasty .row{
  margin: unset;
}

.row::after {
content: "";
clear: both;
display: table;
}
/*  My style project page  */

#my-style .overline {
  color: #779A93;
  font-weight: 800;
  opacity: 100%;
}

#my-style h1 {
  margin-bottom: 40px;
}

#my-style h2 {
  padding-top: 0;
}

/*  Activities View project page  */

.blue-box{
  background-color: #4954A5;
  border-radius: 28px;
}

.white {
  color: #EFEFEF;
}

.width-80 {
  width: 80%;
}

.size-p {
  height: 100%;
  width: 100%;
}

/*  Money organizer project page  */

#money-organizer h2 {
  padding-top: 0;
}

#money-organizer ul {
  list-style: square;
}

.off-white{
  background-color: #FBFBFB;
}

.bar {
  width: 15px;
  height: 285px;
  background-color: #7CAE7A;
  position: relative;
  float: left;
  z-index: -1;
}

.green {
  color: #7CAE7A;
}

.container-s {
  padding: 0 16px;
}

/* Images */

img {
  max-width: 100%;
}

picture .logo {
  padding: 12px 0;
  max-width: 150px;
}


.yellow {
  background-color: #FCFBF5;
}


.beige {
  background-color: #EBE5DC;
}

.gray {
  color: #AAADA9;
}

/* Buttons */

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #8EBC8D;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 500;
  text-decoration: none;
  padding: 12px 28px;
  margin: 40px 0 48px 0;
  border-radius: 16px;
  transition-duration: 0.2s;
  transition-property: background-color;
}

.button:hover {
  color: #ffffff;
  font-weight: 500;
  background-color: #B3D6B2;
  text-decoration: none;

}

.button:active{
  background-color: #69A468;
}

.button.contact {
  background-color: transparent;
  color: #8EBC8D;
  border: 3px solid #8EBC8D;
  margin-bottom: 28px;
}

.button.contact:hover {
  color: #B3D6B2;
  border: 3px solid #B3D6B2;
}

.button.contact:active {
  background-color: #FFFFFF;
  color: #69A468;
  border: 3px solid #69A468;
}

#no-img-space img {
  padding: unset;
}

/* ==============================
    Small devices
================================= */
  .space-top-sd {
    padding-top: 36px;
  }


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  }

  picture .logo {
    padding: unset;
  }

  nav {
  width: auto;
  float: right;
  margin-top: 20px;
  }

  main {
    padding-top: 120px;
  }

  .col-md-6 {
  width: 50%;
  }

  .col-md-7 {
  width: 58.33%;
  }

  .col-md-5 {
  width: 41.6%%;
  }

  [class*="col-"] {
  float: left;
  }


  #about .row {
    margin-bottom: 12px;
  }

  #about-pic {
    padding: unset;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
  }

  .space-left-md{
    padding-left: 20px;
  }

  .space-left2-md{
    padding-left: 40px;
  }

  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-md-6 {
    width: unset;
  }

  .col-md-12 {
    width: unset;
  }

  .col-lg-2 {
  width: 16.66%;
  }

  .col-lg-3 {
  width: 25%;
  }

  .col-lg-4 {
  width: 33.33%;
  }

  .col-lg-5 {
  width: 41.66%;
  }

  .col-lg-6 {
  width: 50%;
  }

  .col-lg-7 {
  width: 58.33%;
  }

  .col-lg-5 {
  width: 41.6%;


  .col-md-12::after {
  content: "";
  clear: unset;
  display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #styleguide {
    background-color: unset;
  }


  .space-left-320-lg {
    margin-left: 320px;
  }

  .space-left-lg{
    margin-left: 20px;
  }



}

/* ==============================
        CSS animations
================================= */



@keyframes floating1 {
    0% {transform: translate(0, 0);}
    25% {transform: translate(-5px, +5px);}
    50% {transform: translate(0px, +10px);}
    75% {transform: translate(+5px, +5px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes floating2 {
    0% {transform: translate(0, 0);}
    25% {transform: translate(+5px, -5px);}
    50% {transform: translate(0px, -10px);}
    75% {transform: translate(-5px, -5px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes skewing {
  from {transform: skew(0deg, 0deg)}
  to {transform: skew(5deg, 0deg)}
}

@keyframes fade1 {
  0% {opacity:1;}
  5% {opacity:1;}
  15% {opacity:0.3;}
  50% {opacity:0.3;}
  85% {opacity:0.3;}
  100% {opacity:1;}
}

.circle-top {
  position: relative;
  animation: 5s floating1 infinite linear;
  z-index: +1;
}

.main-square {
  position: relative;
  animation: floating2 15s infinite linear;
  animation: rotation 45s infinite linear;
  transform-origin: center;
  transform-box: fill-box;

}

.triangle {
  position: relative;
  animation: 3s floating2 infinite linear;
  z-index: +1;
}

.round-leaves {
  position: relative;
  animation: 3s floating1 infinite linear;
  z-index: +1;
}

.grass {
  position: relative;
  animation: 3s skewing infinite linear;
  animation-direction: alternate;
  transform-origin: center;
  transform-box: fill-box;
}

.component-top {
  opacity: 1;
  animation: 8s fade1 infinite;
  animation-direction: alternate;
  transition: cubic-bezier(.67,0,.38,1);
  animation-delay: 0s;
}

.component-right {
  opacity: 0.6;
  animation: 8s fade1 infinite;
  animation-direction: alternate;
  transition: cubic-bezier(.67,0,.38,1);
  animation-delay: 2s;
}

/*  cubic-bezier(.67,0,.38,1) */

.component-bottom {
  opacity: 0.6;
  animation: 8s fade1 infinite;
  animation-direction: alternate;
  transition: cubic-bezier(.67,0,.38,1);
  animation-delay: -4s;
}

.component-left {
  opacity: 0.6;
  animation: 8s fade1 infinite;
  animation-direction: alternate;
  transition: cubic-bezier(.67,0,.38,1);
  animation-delay: -2s;
}
